In [71]:
import pandas as pd

In [72]:
data_path = 'data/2020_Atur_per_sexe.csv'
unemp20 = pd.read_csv(data_path)
unemp20

,Any,Mes,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Demanda_ocupacio,Nombre
0,2020,1,1,Ciutat Vella,1,el Raval,Homes,Atur Registrat,1724
1,2020,1,1,Ciutat Vella,2,el Barri Gòtic,Homes,Atur Registrat,491
2,2020,1,1,Ciutat Vella,3,la Barceloneta,Homes,Atur Registrat,489
3,2020,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,Atur Registrat,673
4,2020,1,2,Eixample,5,el Fort Pienc,Homes,Atur Registrat,542
...,...,...,...,...,...,...,...,...,...
2659,2020,9,10,Sant Martí,70,el Besòs i el Maresme,Dones,Demanda No Aturats,1086
2660,2020,9,10,Sant Martí,71,Provençals del Poblenou,Dones,Demanda No Aturats,870
2661,2020,9,10,Sant Martí,72,Sant Martí de Provençals,Dones,Demanda No Aturats,1227
2662,2020,9,10,Sant Martí,73,la Verneda i la Pau,Dones,Demanda No Aturats,1384
2663,2020,9,99,No consta,99,No consta,Dones,Demanda No Aturats,234

In [103]:
unemplo_20 = pd.DataFrame(unemp20.groupby(["Mes","Nom_Districte", "Sexe"])["Nombre"].sum()).reset_index()

In [105]:
unemplo_20

     Mes        Nom_Districte   Sexe  Nombre
0      1         Ciutat Vella  Dones    3731
1      1         Ciutat Vella  Homes    4330
2      1             Eixample  Dones    6567
3      1             Eixample  Homes    5499
4      1               Gràcia  Dones    3307
..   ...                  ...    ...     ...
193    9           Sant Martí  Homes   17828
194    9       Sants-Montjuïc  Dones   14313
195    9       Sants-Montjuïc  Homes   14285
196    9  Sarrià-Sant Gervasi  Dones    6408
197    9  Sarrià-Sant Gervasi  Homes    5461

[198 rows x 4 columns]

In [109]:
#total unemployment 2020

total = unemplo_20[(unemplo_20["Mes"] == 9)]["Nombre"].sum()
total

236926

In [113]:
# total women unemployed 2020
mujeres_20 = unemplo_20[(unemplo_20["Sexe"] == "Dones") & (unemplo_20["Mes"] == 9)]["Nombre"].sum()
mujeres_20

119082

In [114]:
# total men unemployed 2020
men_20 = unemplo_20[(unemplo_20["Sexe"] == "Homes") & (unemplo_20["Mes"] == 9)]["Nombre"].sum()
men_20

117844

In [115]:
#total unemployment first trimester

total_t1 = unemplo_20[(unemplo_20["Mes"] == 3)]["Nombre"].sum()
total_t1

96674

In [117]:
#total unemployment second trimester

total_t2 = unemplo_20[(unemplo_20["Mes"] == 6)]["Nombre"].sum()
total_t2

225861

In [118]:
#total unemployment third trimester

total_t3 = unemplo_20[(unemplo_20["Mes"] == 9)]["Nombre"].sum()
total_t3

236926

In [119]:
# total women unemployed first trimester
women_t1 = unemplo_20[(unemplo_20["Sexe"] == "Dones") & (unemplo_20["Mes"] == 3)]["Nombre"].sum()
women_t1

52245

In [120]:
# total women unemployed second trimester
women_t2 = unemplo_20[(unemplo_20["Sexe"] == "Dones") & (unemplo_20["Mes"] == 6)]["Nombre"].sum()
women_t2

112901

In [121]:
# total women unemployed third trimester
women_t3 = unemplo_20[(unemplo_20["Sexe"] == "Dones") & (unemplo_20["Mes"] == 9)]["Nombre"].sum()
women_t3

119082

In [122]:
# total men unemployed first trimester
men_t1 = unemplo_20[(unemplo_20["Sexe"] == "Homes") & (unemplo_20["Mes"] == 3)]["Nombre"].sum()
men_t1

44429

In [123]:
# total men unemployed second trimester
men_t2 = unemplo_20[(unemplo_20["Sexe"] == "Homes") & (unemplo_20["Mes"] == 6)]["Nombre"].sum()
men_t2

112960

In [124]:
# total men unemployed third trimester
men_t3 = unemplo_20[(unemplo_20["Sexe"] == "Homes") & (unemplo_20["Mes"] == 9)]["Nombre"].sum()
men_t3

117844

In [61]:
#promedio personas desempleadas por trimestre
a = pd.DataFrame(unemplo.groupby(["trim", "Mes"]).sum()).reset_index().dropna()
a[["trim", "Nombre"]].groupby("trim").sum() / a[["trim", "Nombre"]].groupby("trim").count()

             Nombre
trim
1      91381.333333
2     203635.333333
3     234296.000000