In [81]:
import pandas as pd
import numpy as np
import re
import ratio_function as f
#Creating Date column

In [53]:
f.holidays.drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1, inplace=True)

In [54]:
f.holidays

,District Name,Weekday,Month,Day,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Date
0,Ciutat Vella,Friday,June,23,Night,1,0,1,1,June 23
1,Eixample,Friday,June,23,Morning,1,0,1,2,June 23
2,Eixample,Friday,June,23,Morning,1,0,1,2,June 23
3,Eixample,Friday,June,23,Afternoon,1,0,1,2,June 23
4,Sants-Montjuïc,Friday,June,23,Afternoon,2,0,2,1,June 23
...,...,...,...,...,...,...,...,...,...,...
683,Eixample,Tuesday,February,14,Morning,1,0,1,2,February 14
684,Les Corts,Tuesday,February,14,Morning,1,0,1,2,February 14
685,Sarrià-Sant Gervasi,Tuesday,February,14,Afternoon,1,0,1,2,February 14
686,Horta-Guinardó,Tuesday,February,14,Afternoon,0,0,0,1,February 14
687,Horta-Guinardó,Tuesday,February,14,Morning,2,0,2,2,February 14

In [55]:
holidays["Date"]

0          June 23
1          June 23
2          June 23
3          June 23
4          June 23
          ...
683    February 14
684    February 14
685    February 14
686    February 14
687    February 14
Name: Date, Length: 688, dtype: object

In [85]:
San_Juan = holidays[holidays['Date'].isin(['June 23', 'June 24'])]

In [86]:
San_Juan = San_Juan.to_csv("datasets/1.-Transportation/San_Juan.csv")

In [87]:
La_Merce = holidays[holidays['Date'].isin(['September 22', 'September 23', 'September 24', 'September 25'])]

In [88]:
La_Merce = La_Merce.to_csv("datasets/1.-Transportation/La_Merce.csv")

In [72]:
Constday_Immac = holidays[holidays['Date'].isin(['December 6', 'December 7', 'December 8'])]

In [89]:
Dec6_8 = Constday_Immac.to_csv("datasets/1.-Transportation/Dec6_8.csv")

In [73]:
Christmas = holidays[holidays['Date'].isin(['December 24', 'December 25'])]

In [90]:
Christmas = Christmas.to_csv("datasets/1.-Transportation/Christmas.csv")

In [93]:
New_Years = holidays[holidays['Date'].isin(['December 31', 'January 1'])]

In [94]:
New_Years = New_Years.to_csv("datasets/1.-Transportation/New_Years.csv")

In [95]:
DayofCat = holidays[holidays['Date'].isin(['September 8', 'September 9'])]

In [96]:
    DayofCat = DayofCat.to_csv("datasets/1.-Transportation/Holidays/DayofCat.csv")

In [79]:
Holy_Week = holidays[holidays['Date'].isin(['April 14', 'April 15', 'April 16', 'April 17'])]