In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
unemp19 = pd.read_csv('./data/2019_Atur_per_sexe.csv')

In [4]:
unemp19

,Any,Mes,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Demanda_ocupacio,Nombre
0,2019,1,1,Ciutat Vella,1,el Raval,Homes,Atur registrat,1900
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Homes,Atur registrat,485
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Homes,Atur registrat,496
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,Atur registrat,686
4,2019,1,2,Eixample,5,el Fort Pienc,Homes,Atur registrat,539
...,...,...,...,...,...,...,...,...,...
3547,2019,12,10,Sant Martí,70,el Besòs i el Maresme,Dones,Demanda no aturats,180
3548,2019,12,10,Sant Martí,71,Provençals del Poblenou,Dones,Demanda no aturats,130
3549,2019,12,10,Sant Martí,72,Sant Martí de Provençals,Dones,Demanda no aturats,197
3550,2019,12,10,Sant Martí,73,la Verneda i la Pau,Dones,Demanda no aturats,225
3551,2019,12,99,No consta,99,No consta,Dones,Demanda no aturats,2

In [5]:
unemp_19= pd.DataFrame(unemp19.groupby(["Mes","Nom_Districte", "Sexe"])["Nombre"].sum()).reset_index()

In [6]:
unemp_19

     Mes        Nom_Districte   Sexe  Nombre
0      1         Ciutat Vella  Dones    3764
1      1         Ciutat Vella  Homes    4609
2      1             Eixample  Dones    6608
3      1             Eixample  Homes    5534
4      1               Gràcia  Dones    3191
..   ...                  ...    ...     ...
259   12           Sant Martí  Homes    6234
260   12       Sants-Montjuïc  Dones    5642
261   12       Sants-Montjuïc  Homes    4741
262   12  Sarrià-Sant Gervasi  Dones    2388
263   12  Sarrià-Sant Gervasi  Homes    1926

[264 rows x 4 columns]

In [80]:
# Total umeployment 2019 (3 trimestres)

total = unemp_19[(unemp_19["Mes"] == 9)]["Nombre"].sum()

total

87230

In [75]:
# Total mujer unemployment 2019: 

mujeres_19 = unemp_19[(unemp_19["Sexe"] == "Dones") & (unemp_19["Mes"] == 9)]["Nombre"].sum()

mujeres_19

48624

In [77]:
# Total hombres unemployment 2019: 

hombres_19 = unemp_19[(unemp_19["Sexe"] == "Homes") & (unemp_19["Mes"] == 9)]["Nombre"].sum()

hombres_19

38606

In [79]:
# 1r trimestre

first = unemp_19[(unemp_19["Mes"] == 3)]["Nombre"].sum()

first

89644

In [82]:
# 2nd trimestre

second = unemp_19[(unemp_19["Mes"] == 6)]["Nombre"].sum()
 
second

84484

In [83]:
# 3rd trimestre

third = unemp_19[(unemp_19["Mes"] == 9)]["Nombre"].sum()

third

87230

In [84]:
# 1r trimestre mujer

mujer_1r = unemp_19[(unemp_19["Mes"] == 3) & (unemp_19["Sexe"] == "Dones")]["Nombre"].sum()

mujer_1r

48344

In [85]:
# 2nd trimestre mujer

mujer_2nd = unemp_19[(unemp_19["Mes"] == 6) & (unemp_19["Sexe"] == "Dones")]["Nombre"].sum()

mujer_2nd

46558

In [86]:
# 3rd trimestre mujer

mujer_3rd = unemp_19[(unemp_19["Mes"] == 9) & (unemp_19["Sexe"] == "Dones")]["Nombre"].sum()

mujer_3rd

48624

In [87]:
# 1r trimestre hombre

hombre_1r = unemp_19[(unemp_19["Mes"] == 3) & (unemp_19["Sexe"] == "Homes")]["Nombre"].sum()

hombre_1r

41300

In [88]:
# 2nd trimestre hombre

hombre_2nd = unemp_19[(unemp_19["Mes"] == 6) & (unemp_19["Sexe"] == "Homes")]["Nombre"].sum()

hombre_2nd

37926

In [89]:
# 3rd trimestre hombre

hombre_3rd = unemp_19[(unemp_19["Mes"] == 9) & (unemp_19["Sexe"] == "Homes")]["Nombre"].sum()

hombre_3rd

38606