In [1]:
import pandas as pd
import numpy as np

In [2]:
main = pd.read_csv('main.csv', sep = ";")
type_cause_accident = pd.read_csv('type_cause_accident_formated.csv')
vehicles_in_accident = pd.read_csv('vehicles_in_accident_formatted.csv')
location = pd.read_csv('location.csv')

In [3]:
#Number of accidents
no_of_accident=main.loc[:,'Numero_victimes'].count()
print('Number of accidents: ', no_of_accident)

Number of accidents:  9936

In [4]:
#Number of victims
no_of_victims = main.loc[:,'Numero_victimes'].sum()
print("Number of victims: ",no_of_victims)

Number of victims:  11898

In [5]:
#Number of deaths
no_of_deaths = main.loc[:,'Numero_morts'].sum()
print("Deaths: " , no_of_deaths)

Deaths:  21

In [6]:
#Number of vehicles involved
no_of_vehicles = vehicles_in_accident.loc[:, "type_vehicle"].count()
print("Total number of vehicles involved: ", no_of_vehicles)

Total number of vehicles involved:  19079

In [7]:
#Mortality rate
mortality_rate=no_of_deaths/no_of_victims
print("Mortality rate: ", "{:.2%}".format(mortality_rate))

Mortality rate:  0.18%

In [8]:
#Victim per accident
victim_per_accident=main.loc[:,'Numero_victimes'].mean()
print("Average number of victims per accident: ", victim_per_accident)

Average number of victims per accident:  1.1974637681159421

In [24]:
#Number of accidents per type of vehicle
accident_per_type=(vehicles_in_accident.groupby(["type_vehicle"]).count()).iloc[:,0]
accident_per_type.sort_values(ascending=False).head()

type_vehicle
Turisme        7707
Motocicleta    6102
Furgoneta      1248
Taxi            993
Ciclomotor      891
Name: Unnamed: 0, dtype: int64

In [10]:
#Number of accidents per district
accident_per_district=(main.groupby(["Nom_districte"]).count()).iloc[:,0]
accident_per_district.sort_values(ascending=False).head()

Nom_districte
Eixample                2947
Sant MartÃ­             1185
SarriÃ -Sant Gervasi    1120
Sants-MontjuÃ¯c         1035
Horta-GuinardÃ³          724
Name: Numero_expedient, dtype: int64

In [25]:
#Number of accidents per vehicle brand
accident_per_brand=(vehicles_in_accident.groupby(["brand"]).count()).iloc[:,0]
pd.DataFrame(accident_per_brand.sort_values(ascending=False).head())

            Unnamed: 0
brand
HONDA             2787
SEAT              1074
VOLKSWAGEN         919
YAMAHA             910
PEUGEOT            809

In [12]:
main=main.rename(columns={"Unnamed: 3": "Date"})
main

,Numero_expedient,Codi_districte,Nom_districte,Date,Descripcio_torn,Descripcio_causa_vianant,Numero_morts,Numero_lesionats_lleus,Numero_lesionats_greus,Numero_victimes,Numero_vehicles_implicats
0,2018S000150,3,Sants-MontjuÃ¯c,2018-1-8 7:0:0,MatÃ­,No Ã©s causa del vianant,0,1,0,1,2
1,2018S000761,3,Sants-MontjuÃ¯c,2018-1-28 19:0:0,Tarda,No Ã©s causa del vianant,0,0,0,0,2
2,2018S005151,3,Sants-MontjuÃ¯c,2018-7-4 13:0:0,MatÃ­,No Ã©s causa del vianant,0,1,0,1,2
3,2018S000933,3,Sants-MontjuÃ¯c,2018-2-4 7:0:0,MatÃ­,No Ã©s causa del vianant,0,2,0,2,1
4,2018S006926,3,Sants-MontjuÃ¯c,2018-9-14 6:0:0,MatÃ­,No Ã©s causa del vianant,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
9931,2018S003036,8,Nou Barris,2018-4-20 13:0:0,MatÃ­,No Ã©s causa del vianant,0,1,0,1,2
9932,2018S003108,8,Nou Barris,2018-4-22 2:0:0,Nit,No Ã©s causa del vianant,0,0,0,0,2
9933,2018S009777,8,Nou Barris,2018-12-22 2:0:0,Nit,No Ã©s causa del vianant,0,0,0,0,3
9934,2018S000005,8,Nou Barris,2018-1-1 9:0:0,MatÃ­,No Ã©s causa del vianant,0,1,0,1,1
9935,2018S004375,8,Nou Barris,2018-6-6 15:0:0,Tarda,No Ã©s causa del vianant,0,1,0,1,2

In [22]:
main["Month_of_accident"]=pd.DatetimeIndex(main["Date"]).month
month_accidents=(main.groupby(["Month_of_accident"]).count()).iloc[:,0]
perc=month_accidents/no_of_accident*100
perc

Month_of_accident
1     8.564815
2     7.749597
3     8.675523
4     8.584944
5     8.796296
6     8.333333
7     8.695652
8     6.894122
9     7.558374
10    9.953704
11    8.121981
12    8.071659
Name: Numero_expedient, dtype: float64

In [21]:
main["Dayweek_of_accident"]=pd.DatetimeIndex(main["Date"]).weekday_name
dayweek_accidents=(main.groupby(["Dayweek_of_accident"]).count()).iloc[:,0]
perc2=dayweek_accidents/no_of_accident*100
perc2.sort_values(ascending=False)

[[Dayweek_of_accident
  Sunday        8.715781
  Saturday     11.030596
  Monday       15.247585
  Tuesday      15.861514
  Wednesday    15.952093
  Thursday     16.082931
  Friday       17.109501
  Name: Numero_expedient, dtype: float64]]

In [17]:
#Number of accidents per color of vehicle
accident_per_color=(vehicles_in_accident.groupby(["color"]).count()).iloc[:,0]
perc3=accident_per_color/no_of_vehicles*100
perc3.sort_values(ascending=False).head()

color
Negre         23.905865
Blanc         22.585041
Gris          18.695948
Desconegut     9.413491
Vermell        7.427014
Name: Unnamed: 0, dtype: float64