In [2]:
import pandas as pd
import numpy as np

In [58]:
df = pd.read_csv('2018_accidents_vehicles_gu_bcn_.csv')

In [57]:
df.head()

,Codi_expedient,Codi_districte,Nom_districte,Codi_barri,Nom_barri,Codi_carrer,Nom_carrer,Num_postal,Descripcio_dia_setmana,Dia_setmana,...,Descripcio_tipus_vehicle,Descripcio_model,Descripcio_marca,Descripcio_color,Descripcio_carnet,Antiguitat_carnet,Coordenada_UTM_X,Coordenada_UTM_Y,Longitud,Latitud
0,2018S007344,1,Ciutat Vella,1,el Raval,269108,Rambla ...,1,Diumenge,Dg,...,Turisme,CORDOBA,SEAT,Blanc,B,5,431228.30,4581110.84,2.176455,41.376735
1,2018S009617,1,Ciutat Vella,1,el Raval,701265,B-10 (Besòs) ...,K110,Dilluns,Dl,...,Turisme,206,PEUGEOT,Blau,B,1,431320.52,4580791.56,2.177594,41.373868
2,2018S008382,1,Ciutat Vella,2,el Barri Gòtic,34308,Ferran ...,2,Divendres,Dv,...,"Camió rígid > 3,5 tones",Desconegut,DAF-HERMANNS,Taronja,C,25,431052.34,4581514.69,2.174305,41.380358
3,2018S002684,1,Ciutat Vella,2,el Barri Gòtic,55909,Call ...,21,Dilluns,Dl,...,"Camió rígid > 3,5 tones",ML140E24 E,IVECO FIAT,Blanc,C,11,431241.33,4581757.56,2.176538,41.382561
4,2018S004886,1,Ciutat Vella,2,el Barri Gòtic,82901,Colom ...,25,Dimarts,Dm,...,Taxi,TOLEDO,SEAT,Negre/Groc,B,5,431390.44,4581135.49,2.178391,41.376971

In [37]:
func = lambda x: x.strip()

In [45]:
df_clean = df.loc[:, 'Nom_carrer'].str.strip()

In [41]:
df.loc[:, 'Nom_carrer'].apply(func).head()

0          Rambla
1    B-10 (Besòs)
2          Ferran
3            Call
4           Colom
Name: Nom_carrer, dtype: object

In [28]:
bla = 'asdsd'

In [29]:
bla.strip

In [46]:
df.loc[:, 'Nom_carrer'].str.strip()

0                               Rambla
1                         B-10 (Besòs)
2                               Ferran
3                                 Call
4                                Colom
5                                Colom
6                                Colom
7                               Ferran
8                     B-10 (Llobregat)
9                     B-10 (Llobregat)
10                               Colom
11                               Colom
12                           Mercaders
13                      Lluís Companys
14                     Sardenya / Casp
15                     Sardenya / Casp
16                     Sardenya / Casp
17            Corts Catalanes / Nàpols
18            Corts Catalanes / Nàpols
19                     Aragó / Sicília
20                     Aragó / Sicília
21                              Tetuan
22                              Tetuan
23                      Marina / Aragó
24                      Marina / Aragó
25                      Aragó / Marina
26                      Aragó / Marina
27                             Padilla
28                             Padilla
29                     València / Font
                     ...
19049        Prim / Cristóbal de Moura
19050            Diagonal / Espronceda
19051            Diagonal / Espronceda
19052                         Diagonal
19053                         Diagonal
19054    Bac de Roda / Corts Catalanes
19055    Bac de Roda / Corts Catalanes
19056     Corts Catalanes / Espronceda
19057     Corts Catalanes / Espronceda
19058           Guipúscoa / Espronceda
19059           Guipúscoa / Espronceda
19060                           Huelva
19061                           Huelva
19062      Guipúscoa / Julián Besteiro
19063      Guipúscoa / Julián Besteiro
19064            Cantàbria / Santander
19065            Cantàbria / Santander
19066             Fernando de los Ríos
19067             Fernando de los Ríos
19068             Fernando de los Ríos
19069             Fernando de los Ríos
19070             Fernando de los Ríos
19071             Fernando de los Ríos
19072             Fernando de los Ríos
19073             Fernando de los Ríos
19074             Fernando de los Ríos
19075                        Guipúscoa
19076                        Guipúscoa
19077                        Guipúscoa
19078              Guipúscoa / Maresme
Name: Nom_carrer, Length: 19079, dtype: object

In [51]:
# Libraries
import pandas as pd
from sqlalchemy import create_engine
# Connection Data
driver = 'mysql+pymysql'
ip = 'barcelona-db.cyxhqbnhiohl.eu-west-3.rds.amazonaws.com'
username = 'admin'
password = 'PercyA2019!'
db = 'test'
connection_string  = f'{driver}://{username}:{password}@{ip}/{db}'
# Engine & Query
engine = create_engine(connection_string)
query = 'SELECT * FROM 14975_onwards'
# Database Request
test = pd.read_sql(query,engine)

In [56]:
test

Empty DataFrame
Columns: [Column_1, Column_2, Column_3, Column_4, Column_5, Column_6, Column_7, Column_8, Column_9, Column_10, Column_11, Column_12, Column_13]
Index: []

In [61]:
df.to_sql('test_pan2sql3', con=engine, if_exists='replace', index_label='id')

In [60]:
df.rename(columns={'Num_postal ':'Num_postal'}, inplace=True)

In [64]:
# Engine & Query
engine = create_engine(connection_string)
query = "select * from test_pan2sql3 where Descripcio_tipus_vehicle in ('Autobús', 'Bicicleta', 'Ciclomotor', 'Furgoneta', 'Motocicleta', 'Taxi', 'Turisme')"




# Database Request
selected_rows = pd.read_sql(query,engine)