In [1]:
import pandas as pd
import numpy as np
import os
import sqlalchemy

In [2]:
im_nat = pd.read_csv('immigrants-by-nationality.csv')
im_nat.head(2)

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
0,2017,1,Ciutat Vella,1,el Raval,Spain,1109
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Spain,482

In [3]:
country = im_nat.iloc[:,[0,5,6]].copy()
country.head(2)

   Year Nationality  Number
0  2017       Spain    1109
1  2017       Spain     482

In [4]:
countries = list(country.Nationality.unique())
len(countries)

177

In [5]:
#spain = country.loc[country.Nationality == 'Spain'].copy()

In [6]:
country.groupby('Nationality').sum()[['Number']]

                          Number
Nationality
Afghanistan                   61
Albania                      234
Algeria                      778
Andorra                      191
Angola                        36
Antigua and Barbuda            1
Argentina                   4392
Armenia                      742
Australia                    283
Austria                      356
Azerbaijan                   121
Bahrain                       16
Bangladesh                  2031
Barbados                       3
Belarus                      275
Belgium                      791
Benin                         13
Bolivia                     3205
Bosnia and Herzegovina        44
Botswana                       2
Brasil                      4679
Bulgaria                     839
Burkina Faso                  12
Burundi                        5
Cambodja                       5
Camerun                      121
Canada                       567
Cape Verde                     7
Central African Republic       4
Chad                           3
...                          ...
State of Palestine            55
Sudan                         21
Suriname                       1
Swaziland                      1
Sweden                       892
Switzerland                  501
Syria                        388
São Tomé and Príncipe          2
Taiwan                         1
Tajikistan                     1
Tanzania                      26
Thailand                      83
The Bahamas                    3
Togo                           8
Trinidad and Tobago           11
Tunisia                      149
Turkey                      1023
Turkmenistan                  14
Uganda                        14
Ukraine                     2814
United Arab Emirates           8
United Kingdom              3737
United States               3909
Uruguay                      770
Uzbekistan                    64
Venezuela                   6642
Vietnam                      203
Yemen                          6
Zambia                         4
Zimbabwe                      11

[177 rows x 1 columns]

In [7]:
country.sum()[['Number']]

Number    271481
dtype: object

In [8]:
# y_15 = country.loc[(country.Year == 2015),].copy() # To create a separate table for all the data in 2015 (Not used)
# y_15.sum()[['Number']]

In [9]:
# y_16 = country.loc[(country.Year == 2016),].copy() # To create a separate table for all the data in 2016 (Not used)
# y_16.sum()[['Number']]

In [10]:
# y_17 = country.loc[(country.Year == 2017),].copy() # To create a separate table for all the data in 2017 (Not used)
# y_17.sum()[['Number']]

In [11]:
# To create a table for the immigrants for all years (2015, 2016, 2017) from all the countries except spain
all_y_nospain = country.loc[(country.Nationality != 'Spain'),].copy()
all_y_nonspain_sum = all_y_nospain.sum()[['Number']] #To get the sum of immigrantes in from all the countries except spain
all_y_nonspain_sum

Number    165051
dtype: object

In [12]:
italy_all_years = all_y_nospain.loc[(country.Nationality == 'Italy'),] #To create a separate table for Italy in the three years
italy_all_sum = italy_all_years.sum()[['Number']] #To sum the Italy immigrants in the three years combined
percentage_italy_all = (italy_all_sum / all_y_nonspain_sum) * 100 #To get the percentage of italy immegrants in the three years
percentage_italy_all

Number    9.75032
dtype: object

In [13]:
pakistan_all_years = all_y_nospain.loc[(country.Nationality == 'Pakistan'),] #To create a separate table for Pakistan in the three years
pakistan_all_sum = pakistan_all_years.sum()[['Number']] #To sum the Pakistan immigrants in the three years combined
percentage_pakistan_all = (pakistan_all_sum / all_y_nonspain_sum) * 100 #To get the percentage of Pakistan immegrants in the three years
percentage_pakistan_all

Number    5.88121
dtype: object

In [14]:
china_all_years = all_y_nospain.loc[(country.Nationality == 'China'),] #To create a separate table for China in the three years
china_all_sum = china_all_years.sum()[['Number']] #To sum the China immigrants in the three years combined
percentage_china_all = (china_all_sum / all_y_nonspain_sum) * 100 #To get the percentage of China immegrants in the three years
percentage_china_all

Number    5.66431
dtype: object

In [15]:
colombia_all_years = all_y_nospain.loc[(country.Nationality == 'Colombia'),] #To create a separate table for Colombia in the three years
colombia_all_sum = colombia_all_years.sum()[['Number']] #To sum the Colombia immigrants in the three years combined
percentage_colombia_all = (colombia_all_sum / all_y_nonspain_sum) * 100 #To get the percentage of Colombia immegrants in the three years
percentage_colombia_all

Number    4.71188
dtype: object

In [16]:
france_all_years = all_y_nospain.loc[(country.Nationality == 'France'),] #To create a separate table for France in the three years
france_all_sum = france_all_years.sum()[['Number']] #To sum the France immigrants in the three years combined
percentage_france_all = (france_all_sum / all_y_nonspain_sum) * 100 #To get the percentage of France immegrants in the three years
percentage_france_all

Number    4.30715
dtype: object

In [17]:
honduras_all_years = all_y_nospain.loc[(country.Nationality == 'Honduras'),] #To create a separate table for Honduras in the three years
honduras_all_sum = honduras_all_years.sum()[['Number']] #To sum the Honduras immigrants in the three years combined
percentage_honduras_all = (honduras_all_sum / all_y_nonspain_sum) * 100 #To get the percentage of Honduras immegrants in the three years
percentage_honduras_all

Number    4.07995
dtype: object

In [18]:
venezuela_all_years = all_y_nospain.loc[(country.Nationality == 'Venezuela'),] #To create a separate table for Venezuela in the three years
venezuela_all_sum = venezuela_all_years.sum()[['Number']] #To sum the Venezuela immigrants in the three years combined
percentage_venezuela_all = (venezuela_all_sum / all_y_nonspain_sum) * 100 #To get the percentage of Venezuela immegrants in the three years
percentage_venezuela_all

Number    4.02421
dtype: object

In [19]:
morocco_all_years = all_y_nospain.loc[(country.Nationality == 'Morocco'),] #To create a separate table for Morocco in the three years
morocco_all_sum = morocco_all_years.sum()[['Number']] #To sum the Morocco immigrants in the three years combined
percentage_morocco_all = (morocco_all_sum / all_y_nonspain_sum) * 100 #To get the percentage of Morocco immegrants in the three years
percentage_morocco_all

Number    3.37714
dtype: object

In [20]:
peru_all_years = all_y_nospain.loc[(country.Nationality == 'Peru'),] #To create a separate table for Peru in the three years
peru_all_sum = peru_all_years.sum()[['Number']] #To sum the Peru immigrants in the three years combined
percentage_peru_all = (peru_all_sum / all_y_nonspain_sum) * 100 #To get the percentage of Peru immegrants in the three years
percentage_peru_all

Number    3.33109
dtype: object

In [21]:
brasil_all_years = all_y_nospain.loc[(country.Nationality == 'Brasil'),] #To create a separate table for Brasil in the three years
brasil_all_sum = brasil_all_years.sum()[['Number']] #To sum the Brasil immigrants in the three years combined
percentage_brasil_all = (brasil_all_sum / all_y_nonspain_sum) * 100 #To get the percentage of Brasil immegrants in the three years
percentage_brasil_all

Number    2.83488
dtype: object

In [22]:
# To create a table for the immigrants from year 2015 from all the countries except spain
y_15_nospain = country.loc[(country.Year == 2015) & (country.Nationality != 'Spain'),].copy()
y_15_nospain_sum = y_15_nospain.sum()[['Number']]
y_15_nospain_sum

Number    50956
dtype: object

In [23]:
# To create a table for the immigrants from year 2016 from all the countries except spain
y_16_nospain = country.loc[(country.Year == 2016) & (country.Nationality != 'Spain'),].copy()
y_16_nospain_sum = y_16_nospain.sum()[['Number']]
y_16_nospain_sum

Number    52122
dtype: object

In [24]:
# To create a table for the immigrants from year 2017 from all the countries except spain
y_17_nospain = country.loc[(country.Year == 2017) & (country.Nationality != 'Spain'),].copy()
y_17_nospain_sum = y_17_nospain.sum()[['Number']]
y_17_nospain_sum

Number    61973
dtype: object

In [25]:
italy_15 = y_15_nospain.loc[(country.Nationality == 'Italy'),] #To create a separate list for Italy in 2015
italy_15_sum = italy_15.sum()[['Number']] #To sum the Italy immigrants in 2015
percentage_italy_2015 = (italy_15_sum / y_15_nospain_sum) * 100 # To get the percentage of italy immigrants in 2015
percentage_italy_2015

Number    9.44148
dtype: object

In [26]:
italy_16 = y_16_nospain.loc[(country.Nationality == 'Italy'),] #To create a separate list for Italy in 2016
italy_16_sum = italy_16.sum()[['Number']] #To sum the Italy immigrants in 2016
percentage_italy_2016 = (italy_16_sum / y_16_nospain_sum) * 100 # To get the percentage of italy immigrants in 2016
percentage_italy_2016

Number    9.54108
dtype: object

In [27]:
italy_17 = y_17_nospain.loc[(country.Nationality == 'Italy'),] #To create a separate list for Italy in 2017
italy_17_sum = italy_17.sum()[['Number']] #To sum the Italy immigrants in 2017
percentage_italy_2017 = (italy_17_sum / y_17_nospain_sum) * 100 # To get the percentage of italy immigrants in 2017
percentage_italy_2017

Number    10.1802
dtype: object

In [28]:
pakistan_15 = y_15_nospain.loc[(country.Nationality == 'Pakistan'),] #To create a separate list for Pakistan in 2015
pakistan_15_sum = pakistan_15.sum()[['Number']] #To sum the Pakistan immigrants in 2015
percentage_pakistan_2015 = (pakistan_15_sum / y_15_nospain_sum) * 100 # To get the percentage of Pakistan immigrants in 2015
percentage_pakistan_2015

Number    7.27687
dtype: object

In [29]:
pakistan_16 = y_16_nospain.loc[(country.Nationality == 'Pakistan'),] #To create a separate list for Pakistan in 2016
pakistan_16_sum = pakistan_16.sum()[['Number']] #To sum the Pakistan immigrants in 2016
percentage_pakistan_2016 = (pakistan_16_sum / y_16_nospain_sum) * 100 # To get the percentage of Pakistan immigrants in 2016
percentage_pakistan_2016

Number    5.81712
dtype: object

In [30]:
pakistan_17 = y_17_nospain.loc[(country.Nationality == 'Pakistan'),] #To create a separate list for Pakistan in 2017
pakistan_17_sum = pakistan_17.sum()[['Number']] #To sum the Pakistan immigrants in 2017
percentage_pakistan_2017 = (pakistan_17_sum / y_17_nospain_sum) * 100 # To get the percentage of Pakistan immigrants in 2017
percentage_pakistan_2017

Number    4.78757
dtype: object

In [31]:
china_15 = y_15_nospain.loc[(country.Nationality == 'China'),] #To create a separate list for China in 2015
china_15_sum = china_15.sum()[['Number']] #To sum the China immigrants in 2015
percentage_china_2015 = (china_15_sum / y_15_nospain_sum) * 100 # To get the percentage of China immigrants in 2015
percentage_china_2015

Number    6.06602
dtype: object

In [32]:
china_16 = y_16_nospain.loc[(country.Nationality == 'China'),] #To create a separate list for China in 2016
china_16_sum = china_16.sum()[['Number']] #To sum the China immigrants in 2016
percentage_china_2016 = (china_16_sum / y_16_nospain_sum) * 100 # To get the percentage of China immigrants in 2016
percentage_china_2016

Number    5.67707
dtype: object

In [33]:
china_17 = y_17_nospain.loc[(country.Nationality == 'China'),] #To create a separate list for China in 2017
china_17_sum = china_17.sum()[['Number']] #To sum the China immigrants in 2017
percentage_china_2017 = (china_17_sum / y_17_nospain_sum) * 100 # To get the percentage of China immigrants in 2017
percentage_china_2017

Number    5.32329
dtype: object

In [34]:
france_15 = y_15_nospain.loc[(country.Nationality == 'France'),] #To create a separate list for France in 2015
france_15_sum = france_15.sum()[['Number']] #To sum the France immigrants in 2015
percentage_france_2015 = (france_15_sum / y_15_nospain_sum) * 100 # To get the percentage of France immigrants in 2015
percentage_france_2015

Number    4.27035
dtype: object

In [35]:
france_16 = y_16_nospain.loc[(country.Nationality == 'France'),] #To create a separate list for France in 2016
france_16_sum = france_16.sum()[['Number']] #To sum the France immigrants in 2016
percentage_france_2016 = (france_16_sum / y_16_nospain_sum) * 100 # To get the percentage of France immigrants in 2016
percentage_france_2016

Number    4.34174
dtype: object

In [36]:
france_17 = y_17_nospain.loc[(country.Nationality == 'France'),] #To create a separate list for France in 2017
france_17_sum = france_17.sum()[['Number']] #To sum the France immigrants in 2017
percentage_france_2017 = (france_17_sum / y_17_nospain_sum) * 100 # To get the percentage of France immigrants in 2017
percentage_france_2017

Number    4.30833
dtype: object

In [37]:
colombia_15 = y_15_nospain.loc[(country.Nationality == 'Colombia'),] #To create a separate list for Colombia in 2015
colombia_15_sum = colombia_15.sum()[['Number']] #To sum the Colombia immigrants in 2015
percentage_colombia_2015 = (colombia_15_sum / y_15_nospain_sum) * 100 # To get the percentage of Colombia immigrants in 2015
percentage_colombia_2015

Number    3.86804
dtype: object

In [38]:
colombia_16 = y_16_nospain.loc[(country.Nationality == 'Colombia'),] #To create a separate list for Colombia in 2016
colombia_16_sum = colombia_16.sum()[['Number']] #To sum the Colombia immigrants in 2016
percentage_colombia_2016 = (colombia_16_sum / y_16_nospain_sum) * 100 # To get the percentage of Colombia immigrants in 2016
percentage_colombia_2016

Number    4.89429
dtype: object

In [39]:
colombia_17 = y_17_nospain.loc[(country.Nationality == 'Colombia'),] #To create a separate list for Colombia in 2017
colombia_17_sum = colombia_17.sum()[['Number']] #To sum the Colombia immigrants in 2017
percentage_colombia_2017 = (colombia_17_sum / y_17_nospain_sum) * 100 # To get the percentage of Colombia immigrants in 2017
percentage_colombia_2017

Number    5.25229
dtype: object

In [40]:
morocco_15 = y_15_nospain.loc[(country.Nationality == 'Morocco'),] #To create a separate list for Morocco in 2015
morocco_15_sum = morocco_15.sum()[['Number']] #To sum the Morocco immigrants in 2015
percentage_morocco_2015 = (morocco_15_sum / y_15_nospain_sum) * 100 # To get the percentage of Morocco immigrants in 2015
percentage_morocco_2015

Number    3.79543
dtype: object

In [41]:
morocco_16 = y_16_nospain.loc[(country.Nationality == 'Morocco'),] #To create a separate list for Morocco in 2016
morocco_16_sum = morocco_16.sum()[['Number']] #To sum the Morocco immigrants in 2016
percentage_morocco_2016 = (morocco_16_sum / y_16_nospain_sum) * 100 # To get the percentage of Morocco immigrants in 2016
percentage_morocco_2016

Number    3.27885
dtype: object

In [42]:
morocco_17 = y_17_nospain.loc[(country.Nationality == 'Morocco'),] #To create a separate list for Morocco in 2017
morocco_17_sum = morocco_17.sum()[['Number']] #To sum the Morocco immigrants in 2017
percentage_morocco_2017 = (morocco_17_sum / y_17_nospain_sum) * 100 # To get the percentage of Morocco immigrants in 2017
percentage_morocco_2017

Number    3.11587
dtype: object

In [43]:
honduras_15 = y_15_nospain.loc[(country.Nationality == 'Honduras'),] #To create a separate list for Honduras in 2015
honduras_15_sum = honduras_15.sum()[['Number']] #To sum the Honduras immigrants in 2015
percentage_honduras_2015 = (honduras_15_sum / y_15_nospain_sum) * 100 # To get the percentage of Honduras immigrants in 2015
percentage_honduras_2015

Number    3.68946
dtype: object

In [44]:
honduras_16 = y_16_nospain.loc[(country.Nationality == 'Honduras'),] #To create a separate list for Honduras in 2016
honduras_16_sum = honduras_16.sum()[['Number']] #To sum the Honduras immigrants in 2016
percentage_honduras_2016 = (honduras_16_sum / y_16_nospain_sum) * 100 # To get the percentage of Honduras immigrants in 2016
percentage_honduras_2016

Number    4.00407
dtype: object

In [45]:
honduras_17 = y_17_nospain.loc[(country.Nationality == 'Honduras'),] #To create a separate list for Honduras in 2017
honduras_17_sum = honduras_17.sum()[['Number']] #To sum the Honduras immigrants in 2017
percentage_honduras_2017 = (honduras_17_sum / y_17_nospain_sum) * 100 # To get the percentage of Honduras immigrants in 2017
percentage_honduras_2017

Number    4.46485
dtype: object

In [46]:
venezuela_15 = y_15_nospain.loc[(country.Nationality == 'Venezuela'),] #To create a separate list for Venezuela in 2015
venezuela_15_sum = venezuela_15.sum()[['Number']] #To sum the Venezuela immigrants in 2015
percentage_venezuela_2015 = (venezuela_15_sum / y_15_nospain_sum) * 100 # To get the percentage of Venezuela immigrants in 2015
percentage_venezuela_2015

Number    3.08305
dtype: object

In [47]:
venezuela_16 = y_16_nospain.loc[(country.Nationality == 'Venezuela'),] #To create a separate list for Venezuela in 2016
venezuela_16_sum = venezuela_16.sum()[['Number']] #To sum the Venezuela immigrants in 2016
percentage_venezuela_2016 = (venezuela_16_sum / y_16_nospain_sum) * 100 # To get the percentage of Venezuela immigrants in 2016
percentage_venezuela_2016

Number    3.93308
dtype: object

In [48]:
venezuela_17 = y_17_nospain.loc[(country.Nationality == 'Venezuela'),] #To create a separate list for Venezuela in 2017
venezuela_17_sum = venezuela_17.sum()[['Number']] #To sum the Venezuela immigrants in 2017
percentage_venezuela_2017 = (venezuela_17_sum / y_17_nospain_sum) * 100 # To get the percentage of Venezuela immigrants in 2017
percentage_venezuela_2017

Number    4.8747
dtype: object

In [49]:
peru_15 = y_15_nospain.loc[(country.Nationality == 'Peru'),] #To create a separate list for Peru in 2015
peru_15_sum = peru_15.sum()[['Number']] #To sum the Peru immigrants in 2015
percentage_peru_2015 = (peru_15_sum / y_15_nospain_sum) * 100 # To get the percentage of Peru immigrants in 2015
percentage_peru_2015

Number    2.77887
dtype: object

In [50]:
peru_16 = y_16_nospain.loc[(country.Nationality == 'Peru'),] #To create a separate list for Peru in 2016
peru_16_sum = peru_16.sum()[['Number']] #To sum the Peru immigrants in 2016
percentage_peru_2016 = (peru_16_sum / y_16_nospain_sum) * 100 # To get the percentage of Peru immigrants in 2016
percentage_peru_2016

Number    3.08699
dtype: object

In [51]:
peru_17 = y_17_nospain.loc[(country.Nationality == 'Peru'),] #To create a separate list for Peru in 2017
peru_17_sum = peru_17.sum()[['Number']] #To sum the Peru immigrants in 2017
percentage_peru_2017 = (peru_17_sum / y_17_nospain_sum) * 100 # To get the percentage of Peru immigrants in 2017
percentage_peru_2017

Number    3.99045
dtype: object

In [52]:
brasil_15 = y_15_nospain.loc[(country.Nationality == 'Brasil'),] #To create a separate list for Brasil in 2015
brasil_15_sum = brasil_15.sum()[['Number']] #To sum the Brasil immigrants in 2015
percentage_brasil_2015 = (brasil_15_sum / y_15_nospain_sum) * 100 # To get the percentage of Brasil immigrants in 2015
percentage_brasil_2015

Number    2.76709
dtype: object

In [53]:
brasil_16 = y_16_nospain.loc[(country.Nationality == 'Brasil'),] #To create a separate list for Brasil in 2016
brasil_16_sum = brasil_16.sum()[['Number']] #To sum the Brasil immigrants in 2016
percentage_brasil_2016 = (brasil_16_sum / y_16_nospain_sum) * 100 # To get the percentage of Brasil immigrants in 2016
percentage_brasil_2016

Number    2.90089
dtype: object

In [54]:
argentina_17 = y_17_nospain.loc[(country.Nationality == 'Argentina'),] #To create a separate list for Argentina in 2017
argentina_17_sum = argentina_17.sum()[['Number']] #To sum the Argentina immigrants in 2017
percentage_argentina_2017 = (argentina_17_sum / y_17_nospain_sum) * 100 # To get the percentage of Argentina immigrants in 2017
percentage_argentina_2017

Number    3.04165
dtype: object

In [55]:
# To create a table that shows the increase in immigrants over the three years.
increase_in_immigrantes = pd.DataFrame({'Year': [2015, 2016, 2017], 'Number_of_immigrants': [y_15_nospain_sum[0], y_16_nospain_sum[0], y_17_nospain_sum[0]]})
increase_in_immigrantes

   Year  Number_of_immigrants
0  2015                 50956
1  2016                 52122
2  2017                 61973

In [56]:
# To create a table that shows the percentage of immigrants from the top 10 countries in the three years combined (2015, 2016 & 2017)
percentages_by_country_all_years = pd.DataFrame({'Country': ['Italy', 'Pakistan', 'China', 'Colombia', 'France', 'Honduras', 'Venezuela', 'Morocco', 'Peru', 'Brasil', 'Other'],
                                                 'Number_of_immigrants': [italy_all_sum[0], pakistan_all_sum[0], china_all_sum[0], colombia_all_sum[0], france_all_sum[0], honduras_all_sum[0], venezuela_all_sum[0], morocco_all_sum[0], peru_all_sum[0], brasil_all_sum[0], 85889],  
                                                 'Percentages_by_country_all_years': [percentage_italy_all[0], percentage_pakistan_all[0], percentage_china_all[0], percentage_colombia_all[0], percentage_france_all[0], percentage_honduras_all[0], percentage_venezuela_all[0], percentage_morocco_all[0], percentage_peru_all[0], percentage_brasil_all[0], 52.03785]})
percentages_by_country_all_years

      Country  Number_of_immigrants  Percentages_by_country_all_years
0       Italy                 16093                          9.750320
1    Pakistan                  9707                          5.881212
2       China                  9349                          5.664310
3    Colombia                  7777                          4.711877
4      France                  7109                          4.307154
5    Honduras                  6734                          4.079951
6   Venezuela                  6642                          4.024211
7     Morocco                  5574                          3.377138
8        Peru                  5498                          3.331092
9      Brasil                  4679                          2.834881
10      Other                 85889                         52.037850

In [57]:
# To create a table that shows the percentage of immigrants from the top 10 countries in 2015.
percentages_by_country_2015 = pd.DataFrame({'Country': ['Italy', 'Pakistan', 'China', 'France', 'Colombia', 'Morocco', 'Honduras', 'Venezuela', 'Peru', 'Brasil', 'Other'],
                                                 'Number_of_immigrants': [italy_15_sum[0], pakistan_15_sum[0], china_15_sum[0], france_15_sum[0], colombia_15_sum[0], morocco_15_sum[0], honduras_15_sum[0], venezuela_15_sum[0], peru_15_sum[0], brasil_15_sum[0], 26988],  
                                                 'Percentages_by_country_2015': [percentage_italy_2015[0], percentage_pakistan_2015[0], percentage_china_2015[0], percentage_france_2015[0], percentage_colombia_2015[0], percentage_morocco_2015[0], percentage_honduras_2015[0], percentage_venezuela_2015[0], percentage_peru_2015[0], percentage_brasil_2015[0], 52.963341]})

percentages_by_country_2015

      Country  Number_of_immigrants  Percentages_by_country_2015
0       Italy                  4811                     9.441479
1    Pakistan                  3708                     7.276866
2       China                  3091                     6.066018
3      France                  2176                     4.270351
4    Colombia                  1971                     3.868043
5     Morocco                  1934                     3.795431
6    Honduras                  1880                     3.689458
7   Venezuela                  1571                     3.083052
8        Peru                  1416                     2.778868
9      Brasil                  1410                     2.767093
10      Other                 26988                    52.963341

In [58]:
# To create a table that shows the percentage of immigrants from the top 10 countries in 2016.
percentages_by_country_2016 = pd.DataFrame({'Country': ['Italy', 'Pakistan', 'China', 'Colombia', 'France', 'Honduras', 'Venezuela', 'Morocco', 'Peru', 'Brasil', 'Other'],
                                                 'Number_of_immigrants': [italy_16_sum[0], pakistan_16_sum[0], china_16_sum[0], colombia_16_sum[0], france_16_sum[0], honduras_16_sum[0], venezuela_16_sum[0], morocco_16_sum[0], peru_16_sum[0], brasil_16_sum[0], 27377],  
                                                 'Percentages_by_country_2016': [percentage_italy_2016[0], percentage_pakistan_2016[0], percentage_china_2016[0], percentage_colombia_2016[0], percentage_france_2016[0], percentage_honduras_2016[0], percentage_venezuela_2016[0],percentage_morocco_2016[0], percentage_peru_2016[0], percentage_brasil_2016[0], 52.5248]})

percentages_by_country_2016

      Country  Number_of_immigrants  Percentages_by_country_2016
0       Italy                  4973                     9.541077
1    Pakistan                  3032                     5.817121
2       China                  2959                     5.677065
3    Colombia                  2551                     4.894286
4      France                  2263                     4.341737
5    Honduras                  2087                     4.004067
6   Venezuela                  2050                     3.933080
7     Morocco                  1709                     3.278846
8        Peru                  1609                     3.086988
9      Brasil                  1512                     2.900886
10      Other                 27377                    52.524800

In [59]:
# To create a table that shows the percentage of immigrants from the top 10 countries in 2017.
percentages_by_country_2017 = pd.DataFrame({'Country': ['Italy', 'China', 'Colombia', 'Venezuela', 'Pakistan', 'Honduras', 'France', 'Peru', 'Morocco', 'Argentina', 'Other'], 
                                                 'Number_of_immigrants': [italy_17_sum[0], china_17_sum[0], colombia_17_sum[0], venezuela_17_sum[0], pakistan_17_sum[0], honduras_17_sum[0], france_17_sum[0], peru_17_sum[0], morocco_17_sum[0], argentina_17_sum[0], 31396],  
                                                 'Percentages_by_country_2017': [percentage_italy_2017[0], percentage_china_2017[0], percentage_colombia_2017[0], percentage_venezuela_2017[0], percentage_pakistan_2017[0], percentage_honduras_2017[0], percentage_france_2017[0], percentage_peru_2017[0],percentage_morocco_2017[0], percentage_argentina_2017[0], 50.66077]})

percentages_by_country_2017

      Country  Number_of_immigrants  Percentages_by_country_2017
0       Italy                  6309                    10.180240
1       China                  3299                     5.323286
2    Colombia                  3255                     5.252287
3   Venezuela                  3021                     4.874703
4    Pakistan                  2967                     4.787569
5    Honduras                  2767                     4.464848
6      France                  2670                     4.308328
7        Peru                  2473                     3.990447
8     Morocco                  1931                     3.115873
9   Argentina                  1885                     3.041647
10      Other                 31396                    50.660770

In [60]:
driver = 'mysql+pymysql'
user = 'root'
password = '################'
ip = '35.234.159.108'
database = 'Project2'

conn_string = f'{driver}://{user}:{password}@{ip}/{database}'
    
conn = sqlalchemy.create_engine(conn_string)

In [65]:
im_nat.to_sql('immigrants_by_nationality', conn)

In [66]:
#The following tables are just for data presentation purposes, they derived from the main table 'im.nat'
#using the code in the Jupyter notebook
percentages_by_country_all_years.to_sql('percentages_by_country_all_years', conn)

In [67]:
percentages_by_country_2015.to_sql('percentages_by_country_2015', conn)

In [68]:
percentages_by_country_2016.to_sql('percentages_by_country_2016', conn)

In [69]:
percentages_by_country_2017.to_sql('percentages_by_country_2017', conn)

In [70]:
increase_in_immigrantes.to_sql('increase_in_immigrantes', conn)