# Calculations and Analysis on the Population of Barcelona

### Importing Pandas and Numpy and the Data Set

In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
import pymysql
driver = 'mysql+pymysql'
user = 'root'
password = 'sushi'
ip = '127.0.0.1'
connection_string = f'{driver}://{user}:{password}@{ip}'
db_connection = create_engine(connection_string)
df = pd.read_sql_query("SELECT * FROM project_week_2.population", db_connection)
df.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124

In [6]:
df['District.Name'].unique()

array(['Ciutat Vella', 'Eixample', 'Sants-Montjuïc', 'Les Corts',
       'Sarrià-Sant Gervasi', 'Gràcia', 'Horta-Guinardó', 'Nou Barris',
       'Sant Andreu', 'Sant Martí'], dtype=object)

### Importing Data Sets created with MySQL

In [10]:
pop_dis_2017 = pd.read_csv('population_by_district 2017')
pop_dis_2017

   SUM(Number)        District.Name  Year
0       101387         Ciutat Vella  2017
1       266416             Eixample  2017
2       181910       Sants-Montjuïc  2017
3        82033            Les Corts  2017
4       149279  Sarrià-Sant Gervasi  2017
5       121347               Gràcia  2017
6       168751       Horta-Guinardó  2017
7       166579           Nou Barris  2017
8       147594          Sant Andreu  2017
9       235513           Sant Martí  2017

### Piecing together the new Dataframe

In [35]:
pop_dis17 = pop_dis_2017.rename(columns={"SUM(Number)": "Number2017"})

In [36]:
pop_dis_2013 = pd.read_csv('population_by_district 2013')

In [37]:
pop_dis13 = pop_dis_2013.rename(columns={"SUM(Number)": "Number2013", "District.Name" : "District.Namerem"})

In [45]:
pop_dis = pd.concat([pop_dis13, pop_dis17], axis = 1).reindex(pop_dis13.index)
pop_dis

,Number2013,District.Namerem,Year,Number2017,District.Name,Year
0,103339,Ciutat Vella,2013,101387,Ciutat Vella,2017
1,264780,Eixample,2013,266416,Eixample,2017
2,182685,Sants-Montjuïc,2013,181910,Sants-Montjuïc,2017
3,81640,Les Corts,2013,82033,Les Corts,2017
4,145266,Sarrià-Sant Gervasi,2013,149279,Sarrià-Sant Gervasi,2017
5,120949,Gràcia,2013,121347,Gràcia,2017
6,167743,Horta-Guinardó,2013,168751,Horta-Guinardó,2017
7,165748,Nou Barris,2013,166579,Nou Barris,2017
8,146846,Sant Andreu,2013,147594,Sant Andreu,2017
9,232826,Sant Martí,2013,235513,Sant Martí,2017

In [46]:
pop_dis1 = pop_dis.drop(["Year", "District.Namerem"], axis = 1)
pop_dis1

   Number2013  Number2017        District.Name
0      103339      101387         Ciutat Vella
1      264780      266416             Eixample
2      182685      181910       Sants-Montjuïc
3       81640       82033            Les Corts
4      145266      149279  Sarrià-Sant Gervasi
5      120949      121347               Gràcia
6      167743      168751       Horta-Guinardó
7      165748      166579           Nou Barris
8      146846      147594          Sant Andreu
9      232826      235513           Sant Martí

#### Adding the Area as a Variable

In [55]:
area = [4.49, 7.46, 21.35, 6.08, 20.09, 4.19, 11.96, 8.04, 6.56, 10.80]
pop_dis1['Area_km2'] = area
pop_dis1

/usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Number2013  Number2017        District.Name  Area_km2  Density17
0      103339      101387         Ciutat Vella      4.49   22580.62
1      264780      266416             Eixample      7.46   35712.60
2      182685      181910       Sants-Montjuïc     21.35    8520.37
3       81640       82033            Les Corts      6.08   13492.27
4      145266      149279  Sarrià-Sant Gervasi     20.09    7430.51
5      120949      121347               Gràcia      4.19   28961.10
6      167743      168751       Horta-Guinardó     11.96   14109.62
7      165748      166579           Nou Barris      8.04   20718.78
8      146846      147594          Sant Andreu      6.56   22499.09
9      232826      235513           Sant Martí     10.80   21806.76

### Performing the caluclations

#### Density

In [56]:
density17 = pop_dis1.Number2017 / pop_dis1.Area_km2
density17col = list(round(density17, 2))

[22580.62,
 35712.6,
 8520.37,
 13492.27,
 7430.51,
 28961.1,
 14109.62,
 20718.78,
 22499.09,
 21806.76]

/usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
pop_dis1

   Number2013  Number2017        District.Name  Area_km2  Density17
0      103339      101387         Ciutat Vella      4.49   22580.62
1      264780      266416             Eixample      7.46   35712.60
2      182685      181910       Sants-Montjuïc     21.35    8520.37
3       81640       82033            Les Corts      6.08   13492.27
4      145266      149279  Sarrià-Sant Gervasi     20.09    7430.51
5      120949      121347               Gràcia      4.19   28961.10
6      167743      168751       Horta-Guinardó     11.96   14109.62
7      165748      166579           Nou Barris      8.04   20718.78
8      146846      147594          Sant Andreu      6.56   22499.09
9      232826      235513           Sant Martí     10.80   21806.76

In [61]:
density13 = pop_dis1.Number2013 / pop_dis1.Area_km2
density13col = list(round(density13, 2))

In [62]:
pop_dis1['Density13'] = density13col
pop_dis1

   Number2013  Number2017        District.Name  Area_km2  Density17  Density13
0      103339      101387         Ciutat Vella      4.49   22580.62   23015.37
1      264780      266416             Eixample      7.46   35712.60   35493.30
2      182685      181910       Sants-Montjuïc     21.35    8520.37    8556.67
3       81640       82033            Les Corts      6.08   13492.27   13427.63
4      145266      149279  Sarrià-Sant Gervasi     20.09    7430.51    7230.76
5      120949      121347               Gràcia      4.19   28961.10   28866.11
6      167743      168751       Horta-Guinardó     11.96   14109.62   14025.33
7      165748      166579           Nou Barris      8.04   20718.78   20615.42
8      146846      147594          Sant Andreu      6.56   22499.09   22385.06
9      232826      235513           Sant Martí     10.80   21806.76   21557.96

#### Change

In [73]:
Change_Num_Col = ((pop_dis1.Number2017 - pop_dis1.Number2013) / pop_dis1.Number2013) * 100
ch_num = list(round(Change_Num_Col, 2))
pop_dis1['Change.Num%'] = ch_num
pop_dis1

,Number2013,Number2017,District.Name,Area_km2,Density17,Density13,Change.Num%
0,103339,101387,Ciutat Vella,4.49,22580.62,23015.37,-1.89
1,264780,266416,Eixample,7.46,35712.60,35493.30,0.62
2,182685,181910,Sants-Montjuïc,21.35,8520.37,8556.67,-0.42
3,81640,82033,Les Corts,6.08,13492.27,13427.63,0.48
4,145266,149279,Sarrià-Sant Gervasi,20.09,7430.51,7230.76,2.76
5,120949,121347,Gràcia,4.19,28961.10,28866.11,0.33
6,167743,168751,Horta-Guinardó,11.96,14109.62,14025.33,0.60
7,165748,166579,Nou Barris,8.04,20718.78,20615.42,0.50
8,146846,147594,Sant Andreu,6.56,22499.09,22385.06,0.51
9,232826,235513,Sant Martí,10.80,21806.76,21557.96,1.15

In [74]:
Change_Dens_Col = ((pop_dis1.Density17 - pop_dis1.Density13) / pop_dis1.Density13) * 100
ch_dens = list(round(Change_Dens_Col, 2))
pop_dis1['Change.Dens%'] = ch_dens
pop_dis1

,Number2013,Number2017,District.Name,Area_km2,Density17,Density13,Change.Num%,Change.Dens%
0,103339,101387,Ciutat Vella,4.49,22580.62,23015.37,-1.89,-1.89
1,264780,266416,Eixample,7.46,35712.60,35493.30,0.62,0.62
2,182685,181910,Sants-Montjuïc,21.35,8520.37,8556.67,-0.42,-0.42
3,81640,82033,Les Corts,6.08,13492.27,13427.63,0.48,0.48
4,145266,149279,Sarrià-Sant Gervasi,20.09,7430.51,7230.76,2.76,2.76
5,120949,121347,Gràcia,4.19,28961.10,28866.11,0.33,0.33
6,167743,168751,Horta-Guinardó,11.96,14109.62,14025.33,0.60,0.60
7,165748,166579,Nou Barris,8.04,20718.78,20615.42,0.50,0.50
8,146846,147594,Sant Andreu,6.56,22499.09,22385.06,0.51,0.51
9,232826,235513,Sant Martí,10.80,21806.76,21557.96,1.15,1.15

In [75]:
final_dataframe = pop_dis1

### Final Dataframe

In [76]:
final_dataframe

,Number2013,Number2017,District.Name,Area_km2,Density17,Density13,Change.Num%,Change.Dens%
0,103339,101387,Ciutat Vella,4.49,22580.62,23015.37,-1.89,-1.89
1,264780,266416,Eixample,7.46,35712.60,35493.30,0.62,0.62
2,182685,181910,Sants-Montjuïc,21.35,8520.37,8556.67,-0.42,-0.42
3,81640,82033,Les Corts,6.08,13492.27,13427.63,0.48,0.48
4,145266,149279,Sarrià-Sant Gervasi,20.09,7430.51,7230.76,2.76,2.76
5,120949,121347,Gràcia,4.19,28961.10,28866.11,0.33,0.33
6,167743,168751,Horta-Guinardó,11.96,14109.62,14025.33,0.60,0.60
7,165748,166579,Nou Barris,8.04,20718.78,20615.42,0.50,0.50
8,146846,147594,Sant Andreu,6.56,22499.09,22385.06,0.51,0.51
9,232826,235513,Sant Martí,10.80,21806.76,21557.96,1.15,1.15