In [1]:
import pandas as pd
import csv

## Importing raw files

In [2]:
#CSV including logs of every single stations
August_2018_stations = pd.read_csv(r'C:\Users\octav\Downloads\labs-ih\Week 2\Project-Week-2-Barcelona\datasets\2018_08_Agost_BICING_ESTACIONS.csv', sep = ',')

In [3]:
# We prepared this file in case we could cross-reference with the previous one
flux = pd.read_csv(r'C:\Users\octav\Downloads\labs-ih\Week 2\Project-Week-2-Barcelona\datasets\2018_08_Agost_BICING_US.csv', sep = ',')

## Creating new stations CSV with untemporary data

#### Base of the new df

In [4]:
# How many stations in Barcelona?
max_stations = August_2018_stations.id.max()

# Which columns are specific to each station?
index = ['id', 'type', 'latitude', 'longitude', 'streetName', 'streetNumber', 'altitude', 'nearbyStations']

stations_static = August_2018_stations.loc[0:max_stations, index]

#### Adding a new column with the station capacity

In [5]:
# The column takes two results and adds them together:
total_slots = August_2018_stations.loc[0:max_stations, ['slots', 'bikes']].sum(axis=1)

# Adding the column to the df above
stations_static['total_slots'] = total_slots

#### Checking the result

In [6]:
stations_static

,id,type,latitude,longitude,streetName,streetNumber,altitude,nearbyStations,total_slots
0,1,BIKE,41.397952,2.180042,Gran Via Corts Catalanes,760,21,"24, 369, 387, 426",27
1,2,BIKE,41.395530,2.177060,Roger de Flor/ Gran Vía,126,21,"360, 368, 387, 414",27
2,3,BIKE,41.394072,2.183441,Nàpols,82,22,"4, 6, 119, 419",26
3,4,BIKE,41.393470,2.181490,Ribes,13,21,"3, 5, 359, 419",18
4,5,BIKE,41.391075,2.180223,Pg Lluís Companys,11,16,"6, 7, 359, 418",36
...,...,...,...,...,...,...,...,...,...
492,31,BIKE,41.374810,2.188950,Plaça del Mar,72,1,"33, 39, 41, 124",17
493,32,BIKE,41.373698,2.188927,Plaça del Mar,1,1,"31, 33, 124, 400",27
494,33,BIKE,41.376862,2.190773,Pontevedra,58B,1,"31, 41, 124, 424",18
495,34,BIKE,41.387074,2.175247,Sant Pere Més Alt,4,16,"36, 105, 359, 380",17
496,35,BIKE,41.413592,2.221153,Sant Ramon de Penyafort,1,1,"157, 158, 159, 160",25

In [7]:
#creating a .csv with the new updated Bicing stations data
csv_name = 'unique_stations.csv'
stations_static.to_csv(csv_name, sep=';', quotechar='\"', quoting=csv.QUOTE_NONNUMERIC)

## Creating new stations CSV with temporary data

#### Same steps as above

In [8]:
index_temp = ['id', 'slots', 'bikes', 'status', 'updateTime']

temp_df = August_2018_stations.loc[:, index_temp]

In [9]:
# Creating .csv
csv_name2 = 'stations_temp_data.csv'
temp_df.to_csv(csv_name2, sep=';', quotechar='\"', quoting=csv.QUOTE_NONNUMERIC)

In [10]:
# Checking the df
temp_df

          id  slots  bikes status         updateTime
0          1      2     25    OPN  01/08/18 17:43:08
1          2      0     27    OPN  01/08/18 17:43:08
2          3     19      7    OPN  01/08/18 17:43:08
3          4     11      7    OPN  01/08/18 17:43:08
4          5     34      2    OPN  01/08/18 17:43:08
...      ...    ...    ...    ...                ...
1311674  492     15      9    OPN  31/08/18 23:45:09
1311675  493      9     14    OPN  31/08/18 23:45:09
1311676  494      7     17    OPN  31/08/18 23:45:09
1311677  495     22      2    OPN  31/08/18 23:45:09
1311678  496     13     10    OPN  31/08/18 23:45:09

[1311679 rows x 5 columns]

# Calculating KPIs

## Function to return a URL

In [11]:
def url_top1(df_to_use):
    """input the data to fetch
    output the url with latitude and longitude of the top place"""
    top1_id = df_to_use.loc[0,'id']
    index_found = stations_static.loc[stations_static['id'] == top1_id].index[0]
    top1_lat, top1_long = stations_static.loc[index_found,['latitude','longitude']]
    url_to_show = 'https://www.google.es/maps/@{},{},15z?hl=es'.format(top1_lat,top1_long)
    return url_to_show

##  Top 10 of least used stations

#### Simply comparing Stations ID from both tables with slot = 0

In [12]:
stations_stacked_0 = temp_df[temp_df['slots'] == 0]

max_0 = stations_stacked_0.id.value_counts('slots')

#sort top 10 slots 0 stations = Top 10 stations with the most stacked bikes
max_0 = stations_stacked_0[['id', 'slots']].groupby('id').count()

top10_stacked_stations = max_0.nlargest(10, columns = 'slots')

stacked_merge_table = pd.DataFrame.merge(top10_stacked_stations, stations_static[['id', "streetName", 'streetNumber','altitude']], left_on = 'id', right_on = 'id')
stacked_merge_table

    id  slots          streetName streetNumber  altitude
0  269   1039         Via Barcino          121        23
1  187    857  Carrer de Sant Pau           89        24
2   54    841        Sant Oleguer            2        24
3  148    806      Ronda Sant Pau           79        79
4  113    764            Sant Pau           51        30
5  427    708  Carrer de Sant Pau          119        24
6   86    684           Viladomat            2        35
7  235    684           Paral.lel           98        40
8  373    666       Av. Paral.lel          132        35
9  129    662               Manso           46        35

In [14]:
print(url_top1(stacked_merge_table))

https://www.google.es/maps/@41.448128000000004,2.1928259999999997,15z?hl=es

##  Top 10 of most used stations

In [15]:
# First we have to merge both tables because they don't have the same length and we are comparing in dynamic
stations_top_used = pd.merge(stations_static, temp_df, on = 'id')

# Comparison
top_used = stations_top_used.loc[stations_top_used['total_slots'] == stations_top_used['bikes']].copy()
top_used_gb = top_used[['id', 'bikes']].groupby('id').count()

# Top 10
top_10_used = top_used_gb.nlargest(10, columns = 'bikes')

# Merging with static df
top_10_def = pd.DataFrame.merge(top_10_used, stations_static[['id', "streetName", 'streetNumber','altitude']], on = 'id')
# Erasing duplicates on the merge and resetting the index
top_10_def.drop_duplicates().reset_index()

   index   id  bikes          streetName streetNumber  altitude
0      0   31    536       Plaça del Mar           72         1
1      2   30    510            Diagonal          231        28
2      4  253    504    Onze de Setembre           37        18
3      5   26    464            Dos Maig          230        28
4      7  113    464            Sant Pau           51        30
5      8  232    451         Vilà i Vilà           45         1
6      9   54    442        Sant Oleguer            2        24
7     10  187    402  Carrer de Sant Pau           89        24
8     11  289    383              Múrcia           64        18
9     12   34    380   Sant Pere Més Alt            4        16

In [16]:
print(url_top1(top_10_def))

https://www.google.es/maps/@41.37481,2.18895,15z?hl=es

## Top closed stations

In [17]:
#How many times stations closed?
cls_table = temp_df[temp_df['status'] == 'CLS']

closed_table = pd.merge(stations_static, cls_table, on = 'id')

closed_cnt = closed_table[['id', 'status']].groupby('id').count()

top_10_closed_cnt = closed_cnt.nlargest(10, columns = 'status')

top_10_merged = pd.DataFrame.merge(top_10_closed_cnt, 
                                   stations_static[['id', "streetName", 'streetNumber']], 
                                   on = 'id')
top_10_merged.rename(columns={'status' : 'amounts'})

    id  amounts                     streetName streetNumber
0  257     2833                     Sant Adrià            2
1  357     2833                       Cardener           82
2   39     2159                   Pl. Pau Vila          NaN
3  486     1415  (PK) PG. DE GRÀCIA - DIAGONAL          NaN
4  229     1232         Carrer de la Santacreu            2
5  222     1229                Carrer del Canó            1
6  106     1228                     Pl. Joanic          s/n
7   43      234                   Av Meridiana           80
8   55       79                      La Rambla           80
9  402       73               Passeig de Colom          NaN

In [ ]:
print(url_top1(top_10_merged))

# Trying to work from Google Cloud
### We had to find the ip address from the account

#### From sqlalchemy import create_engine

In [ ]:
import sqlalchemy

In [ ]:
driver = 'mysql+pymysql'
user = 'root'
password = 'week2bicing'
ip = '35.205.76.1'
database = 'bicing-project'
conn_string = 'mysql+pymysql://root:week2bicing@35.205.76.1/bicing-project'
conn = sqlalchemy.create_engine(conn_string)

In [ ]:
stations_static.to_sql('stations_static_data', conn)

In [ ]:
temp_df.to_sql('bicing_log_data', conn)