# ACCIDENTS AND VICTIMS BY STREET

In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [2]:
#Import dataframe of streets of Barcelona and storing raw data as copy
streets_raw = pd.read_csv('../datasets/0401230100_BCN_Nomenclàtor.csv')
streets = streets_raw.copy()
streets.head()

,CODI,TIPUS_VIA,PARTICULES,NOM,DATA_APROV,NOTES_DATA,DESCRIPCIO1,DESCRIPCIO2,FONTS_DOC,ALTRES_NOMS
0,701599,jardins,d',Ada Byron,24/04/2007,NaN,"Augusta Ada Byron (Londres, 1815 - 1852). Cone...",NaN,NaN,NaN
1,2050,carrer,d',Adolf Florensa,28/07/1982,NaN,"Adolf Florensa i Ferrer (Lleida, 1889 - Barcel...",NaN,{PC:en}.,NaN
2,701657,plaça,d',Adolf Marsillach,07/11/2008,NaN,"Adolf Marsillach i Soriano (Barcelona, 1928 - ...",NaN,NaN,NaN
3,540074,moll,NaN,Adossat,NaN,NaN,Per haver-se adossat tot al llarg del dic de l...,NaN,{APB}.,NaN
4,2200,carrer,d',Adrall,29/05/1945,NaN,Poble del municipi de la parròquia d'Hortó (Al...,NaN,{n80}.,Núm. 40

In [3]:
#Created a new column with a concatenation of 3 columns: TIPUS_VIA, PARTICULES, NOM
streets['Complete_name'] = streets['TIPUS_VIA'].str.capitalize().str.cat([streets['PARTICULES'], streets['NOM']], sep= ' ', na_rep = '')

streets_clean = streets[['CODI', 'Complete_name']]
streets_clean.columns = ['Codi_carrer', 'Complete_name']

streets_clean

      Codi_carrer                        Complete_name
0          701599                 Jardins d' Ada Byron
1            2050             Carrer d' Adolf Florensa
2          701657            Plaça d' Adolf Marsillach
3          540074                        Moll  Adossat
4            2200                     Carrer d' Adrall
...           ...                                  ...
4539       701879    Placeta d' Angelina Alòs i Tormos
4540       701880  Jardins de Maria Carbonell i Mumbrú
4541       701845                 Carrer de Neus Bouzá
4542       701846              Plaça d' Humberto Rivas
4543       701847         Plaça del Doctor Matias Guiu

[4544 rows x 2 columns]

In [4]:
#Imported the dataframe acc_clean from the other Notebook.
acc_clean = pd.read_csv('../datasets/acc_clean.csv', index_col = 0)
acc_clean.head()
acc_clean

,Numero_expedient,Nom_districte,Nom_barri,Codi_carrer,Dia_setmana,NK_Any,Mes_any,Nom_mes,Dia_mes,Hora_dia,Descripcio_torn,Numero_morts,Numero_lesionats_lleus,Numero_lesionats_greus,Numero_victimes,Numero_vehicles_implicats,Type_day,Date
0,2019S000001,Sarrià-Sant Gervasi,Sant Gervasi - Galvany,144601,Dm,2019,1,Gener,1,1,Nit,0,0,1,1,1,Weekend/Holiday,1/1/2019
1,2019S000002,Sant Andreu,el Congrés i els Indians,102907,Dm,2019,1,Gener,1,4,Nit,0,1,0,1,2,Weekend/Holiday,1/1/2019
2,2019S000003,Sant Martí,el Parc i la Llacuna del Poblenou,242906,Dm,2019,1,Gener,1,5,Nit,0,1,0,1,1,Weekend/Holiday,1/1/2019
3,2019S000004,Gràcia,el Camp d'en Grassot i Gràcia Nova,228803,Dm,2019,1,Gener,1,8,Matí,0,1,0,1,2,Weekend/Holiday,1/1/2019
4,2019S000005,Eixample,la Dreta de l'Eixample,89004,Dm,2019,1,Gener,1,12,Matí,0,2,0,2,1,Weekend/Holiday,1/1/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10022,2019S010046,Les Corts,Pedralbes,101700,Dm,2019,12,Desembre,31,15,Tarda,0,1,0,1,1,Weekday,31/12/2019
10023,2019S010047,Sant Martí,el Camp de l'Arpa del Clot,297001,Dm,2019,12,Desembre,31,19,Tarda,0,1,0,1,2,Weekday,31/12/2019
10024,2019S010048,Eixample,el Fort Pienc,28305,Dm,2019,12,Desembre,31,16,Tarda,0,1,0,1,2,Weekday,31/12/2019
10025,2019S010049,Les Corts,les Corts,167800,Dm,2019,12,Desembre,31,21,Tarda,0,1,0,1,2,Weekday,31/12/2019
10026,2019S010050,Eixample,la Sagrada Família,178308,Dc,2019,11,Novembre,6,7,Matí,0,0,1,1,2,Weekday,6/11/2019

In [5]:
# Here we get a merge (left join) between acc_clean and the streets, in order to get exactly the street's name for each accident.
streets_accidents = acc_clean.merge(streets_clean, how = 'left', on = 'Codi_carrer' )
streets_accidents.head()

,Numero_expedient,Nom_districte,Nom_barri,Codi_carrer,Dia_setmana,NK_Any,Mes_any,Nom_mes,Dia_mes,Hora_dia,Descripcio_torn,Numero_morts,Numero_lesionats_lleus,Numero_lesionats_greus,Numero_victimes,Numero_vehicles_implicats,Type_day,Date,Complete_name
0,2019S000001,Sarrià-Sant Gervasi,Sant Gervasi - Galvany,144601,Dm,2019,1,Gener,1,1,Nit,0,0,1,1,1,Weekend/Holiday,1/1/2019,Avinguda Diagonal
1,2019S000002,Sant Andreu,el Congrés i els Indians,102907,Dm,2019,1,Gener,1,4,Nit,0,1,0,1,2,Weekend/Holiday,1/1/2019,Plaça del Doctor Modrego
2,2019S000003,Sant Martí,el Parc i la Llacuna del Poblenou,242906,Dm,2019,1,Gener,1,5,Nit,0,1,0,1,1,Weekend/Holiday,1/1/2019,Carrer de Pallars
3,2019S000004,Gràcia,el Camp d'en Grassot i Gràcia Nova,228803,Dm,2019,1,Gener,1,8,Matí,0,1,0,1,2,Weekend/Holiday,1/1/2019,Passatge de Nogués
4,2019S000005,Eixample,la Dreta de l'Eixample,89004,Dm,2019,1,Gener,1,12,Matí,0,2,0,2,1,Weekend/Holiday,1/1/2019,Carrer del Consell de Cent

In [6]:
# Now we get the grouby by street name, in a similar way as the notebook about accidents by day/hour or month.
streets_accidents_grouped=streets_accidents.groupby('Complete_name').aggregate({'Numero_expedient': 'count', 'Numero_victimes': 'sum', 
                                                      'Numero_vehicles_implicats': 'sum', 'Numero_lesionats_lleus':'sum', 
                                                      'Numero_lesionats_greus':'sum', 'Numero_morts':'sum'})
streets_accidents_grouped.columns = ['Accidents', 'Total_Victims', 'Total_Vehicles', 'Minor_Injuries', 'Severe_Injuries', 'Deaths']
streets_accidents_grouped.index.name= 'Street_name'

streets_accidents_grouped_perc = streets_accidents_grouped.apply(lambda x: round (100 * x / x.sum(),2))
streets_accidents_grouped_perc.columns = ['%Accidents', '%Total_Victims', '%Total_Vehicles', '%Minor_Injuries', '%Severe_Injuries', '%Deaths']


streets_accidents_grouped = pd.concat([streets_accidents_grouped,streets_accidents_grouped_perc], axis =1)
streets_accidents_grouped = streets_accidents_grouped[['Accidents', '%Accidents', 'Total_Victims', '%Total_Victims', 'Total_Vehicles', '%Total_Vehicles', 'Minor_Injuries',
       '%Minor_Injuries', 'Severe_Injuries', '%Severe_Injuries', 'Deaths', '%Deaths']]
streets_accidents_grouped

,Accidents,%Accidents,Total_Victims,%Total_Victims,Total_Vehicles,%Total_Vehicles,Minor_Injuries,%Minor_Injuries,Severe_Injuries,%Severe_Injuries,Deaths,%Deaths
Street_name,,,,,,,,,,,,
la Rambla,35,0.39,23,0.22,58,0.34,23,0.22,0,0.00,0,0.0
Avinguda Diagonal,426,4.72,539,5.14,809,4.79,523,5.08,16,9.25,0,0.0
Avinguda Meridiana,199,2.21,251,2.39,384,2.27,249,2.42,2,1.16,0,0.0
Avinguda d' Albert Bastardas,5,0.06,9,0.09,13,0.08,9,0.09,0,0.00,0,0.0
Avinguda d' Eduard Maristany,1,0.01,1,0.01,2,0.01,1,0.01,0,0.00,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Via Júlia,8,0.09,8,0.08,13,0.08,8,0.08,0,0.00,0,0.0
Via Laietana,37,0.41,41,0.39,74,0.44,40,0.39,1,0.58,0,0.0
Via Trajana,3,0.03,3,0.03,5,0.03,3,0.03,0,0.00,0,0.0
Via de Bàrcino,7,0.08,7,0.07,13,0.08,7,0.07,0,0.00,0,0.0
Viaducte de Vallcarca,1,0.01,2,0.02,1,0.01,2,0.02,0,0.00,0,0.0

### Accidents by street

In [7]:
# Get the values of the resulting table sorted by number of accidents.
streets_accidents_grouped[['Accidents','%Accidents']].sort_values('Accidents', ascending=False).head(5)

                                 Accidents  %Accidents
Street_name
Gran via de les Corts Catalanes        523        5.80
Avinguda  Diagonal                     426        4.72
Carrer d' Aragó                        333        3.69
Avinguda  Meridiana                    199        2.21
Carrer de València                     175        1.94

### Total victims by street

In [11]:
streets_accidents_grouped[['Total_Victims','%Total_Victims']].sort_values('Total_Victims', ascending=False).head(5)

                                 Total_Victims  %Total_Victims
Street_name
Gran via de les Corts Catalanes            639            6.09
Avinguda  Diagonal                         539            5.14
Carrer d' Aragó                            401            3.82
Avinguda  Meridiana                        251            2.39
Carrer de València                         204            1.94

### Severe injuries by street

In [12]:
streets_accidents_grouped[['Severe_Injuries','%Severe_Injuries']].sort_values('Severe_Injuries', ascending=False).head(5)

                                 Severe_Injuries  %Severe_Injuries
Street_name
Avinguda  Diagonal                            16              9.25
Carrer d' Aragó                               10              5.78
Gran via de les Corts Catalanes                6              3.47
Passeig de la Vall d'Hebron                    5              2.89
Carretera de Sant Cugat                        5              2.89

### Deaths by street

In [13]:
streets_accidents_grouped[['Deaths','%Deaths']].sort_values('Deaths', ascending=False).head(5)

                                 Deaths  %Deaths
Street_name
Gran via de les Corts Catalanes       2    11.11
Ronda del General Mitre               1     5.56
Carrer de Provençals                  1     5.56
Carrer de la Marina                   1     5.56
Carrer de Pau Alsina\r\n              1     5.56