In [1]:
import pandas as pd

In [9]:
apr_2020 = pd.read_csv("../datasets/2.-Urban-Environment/2020_04_Abril_qualitat_aire_BCN.csv")

In [10]:
apr_2019 = pd.read_csv("../datasets/2.-Urban-Environment/2019_04_Abril_qualitat_aire_BCN.csv")

In [11]:
apr_2020.head()

,CODI_PROVINCIA,PROVINCIA,CODI_MUNICIPI,MUNICIPI,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,8,Barcelona,19,Barcelona,4,7,2020,4,1,1.0,...,1.0,V,1.0,V,1.0,V,1.0,V,1.0,V
1,8,Barcelona,19,Barcelona,4,7,2020,4,2,1.0,...,3.0,V,1.0,V,1.0,V,1.0,V,1.0,V
2,8,Barcelona,19,Barcelona,4,7,2020,4,3,2.0,...,1.0,V,1.0,V,1.0,V,1.0,V,2.0,V
3,8,Barcelona,19,Barcelona,4,7,2020,4,4,3.0,...,2.0,V,1.0,V,1.0,V,1.0,V,NaN,N
4,8,Barcelona,19,Barcelona,4,7,2020,4,5,1.0,...,1.0,V,1.0,V,4.0,V,1.0,V,1.0,V

In [12]:
apr_2019.head()

,CODI_PROVINCIA,PROVINCIA,CODI_MUNICIPI,MUNICIPI,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,8,Barcelona,19,Barcelona,4,7,2019,4,2,1.0,...,8.0,V,3.0,V,1.0,V,1.0,V,1.0,V
1,8,Barcelona,19,Barcelona,4,7,2019,4,3,1.0,...,3.0,V,2.0,V,2.0,V,2.0,V,2.0,V
2,8,Barcelona,19,Barcelona,4,7,2019,4,4,1.0,...,2.0,V,2.0,V,1.0,V,2.0,V,2.0,V
3,8,Barcelona,19,Barcelona,4,7,2019,4,5,2.0,...,3.0,V,2.0,V,2.0,V,1.0,V,2.0,V
4,8,Barcelona,19,Barcelona,4,7,2019,4,6,1.0,...,6.0,V,2.0,V,2.0,V,1.0,V,3.0,V

In [14]:
april_covid = pd.concat([apr_2019,apr_2020])

In [15]:
april_covid.head()

,CODI_PROVINCIA,PROVINCIA,CODI_MUNICIPI,MUNICIPI,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,8,Barcelona,19,Barcelona,4,7,2019,4,2,1.0,...,8.0,V,3.0,V,1.0,V,1.0,V,1.0,V
1,8,Barcelona,19,Barcelona,4,7,2019,4,3,1.0,...,3.0,V,2.0,V,2.0,V,2.0,V,2.0,V
2,8,Barcelona,19,Barcelona,4,7,2019,4,4,1.0,...,2.0,V,2.0,V,1.0,V,2.0,V,2.0,V
3,8,Barcelona,19,Barcelona,4,7,2019,4,5,2.0,...,3.0,V,2.0,V,2.0,V,1.0,V,2.0,V
4,8,Barcelona,19,Barcelona,4,7,2019,4,6,1.0,...,6.0,V,2.0,V,2.0,V,1.0,V,3.0,V

In [18]:
april_covid.groupby("ANY").aggregate("CODI_CONTAMINANT")