# Data filtering

In [1]:
import pandas as pd
import numpy as np

In [2]:
#import the datasets from which we need to obtain the info and summarize

children=pd.read_csv("../datasets/unfiltered/Children_spaces_bcn.csv")

cinema=pd.read_csv("../datasets/unfiltered/Cinemas_and_theatres_bcn.csv")

education=pd.read_csv("../datasets/unfiltered/Education_centers_children_bcn.csv")

educationkids=pd.read_csv("../datasets/unfiltered/Educative_centers_bcn.csv")

hospital=pd.read_csv("../datasets/unfiltered/Hospitals_bcn.csv")

library=pd.read_csv("../datasets/unfiltered/Library_and_museums_bcn.csv")

bars=pd.read_csv("../datasets/unfiltered/Music_and_drinks_venues_bcn.csv")

park=pd.read_csv("../datasets/unfiltered/Parks_and_gardens_bcn.csv")

sport=pd.read_csv("../datasets/unfiltered/Sport_facilities_centers.csv")

In [3]:
#Quick look it they uploaded ok

children.head()
hospital.tail()

#all good and with no index

,CODI_EQUIPAMENT,EQUIPAMENT,SECCIO,TIPUS_VIA,NOM_CARRER,NUM_CARRER_1,NUM_CARRER_2,CODI_BARRI,NUM_BARRI,CODI_DISTRICTE,...,TELEFON_NUM,TELEFON_TIPUS,TELEFON_INFO_COM,HORARI_PERIODE_INICI,HORARI_PERIODE_FI,HORARI_DIES,HORARI_HORES_INICI,HORARI_HORES_FI,HORARI_OBSERVACIONS,Unnamed: 29
394,99400593384,Hospital Plató,Centre d'Urgències d'Atenció Primària,C,Plató,21,21.0,26,Sant Gervasi - Galvany,5,...,933069900,Centraleta,NaN,01/01,31/12,0.0,00:00:00,23:59:00,,NaN
395,99400593385,Hospital Universitari del Sagrat Cor,Centre d'Urgències d'Atenció Primària,C,Viladomat,288,288.0,9,la Nova Esquerra de l'Eixample,2,...,933221111,Centraleta,NaN,01/01,31/12,0.0,00:00:00,23:59:00,,NaN
396,99400607886,Clínica Podològica Integral,#,Pg,Zona Franca,242,242.0,13,la Marina de Port,3,...,606142924,Tel.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,99400632531,Centre d'Atenció Primària Roger,#,C,Roger,48,64.0,17,Sants - Badal,3,...,933268901,Tel.,Programació de visites,01/01,31/12,11.0,08:00:00,20:00:00,Fora d'aquest horari truqueu al 061<br>o CUAP ...,NaN
398,99400632531,Centre d'Atenció Primària Roger,#,C,Roger,48,64.0,17,Sants - Badal,3,...,934310039,Centraleta,NaN,01/01,31/12,11.0,08:00:00,20:00:00,Fora d'aquest horari truqueu al 061<br>o CUAP ...,NaN

In [ ]:
#necessary to obtain the times that each neighbourhood appears (variable "NUM_BARRI")
#and save it

In [8]:
#to get a frequency table

COUNT=hospital.groupby("NUM_BARRI").size()

In [9]:
COUNT

NUM_BARRI
Diagonal Mar i el Front Marítim del Poblenou     3
Horta                                            6
Montbau                                         13
Provençals del Poblenou                          1
Sant Andreu                                     13
Sant Antoni                                      6
Sant Gervasi - Galvany                          22
Sant Gervasi - la Bonanova                      12
Sant Martí de Provençals                         4
Sant Pere, Santa Caterina i la Ribera            6
Sants                                           14
Sants - Badal                                    2
Sarrià                                          15
Torre Baró                                       6
Vallcarca i els Penitents                       14
Vallvidrera, el Tibidabo i les Planes            2
Verdun                                           2
Vilapicina i la Torre Llobeta                    5
el Baix Guinardó                                 4
el Barri Gòtic                                   3
el Besòs i el Maresme                            8
el Bon Pastor                                    3
el Camp d'en Grassot i Gràcia Nova               5
el Camp de l'Arpa del Clot                       9
el Carmel                                       10
el Clot                                          5
el Fort Pienc                                    7
el Guinardó                                     11
el Poble-sec                                     4
el Poblenou                                      6
el Putxet i el Farró                             4
el Raval                                        12
el Turó de la Peira                              4
l'Antiga Esquerra de l'Eixample                 12
la Barceloneta                                  13
la Bordeta                                       3
la Dreta de Eixample                             7
la Guineueta                                     6
la Marina de Port                               13
la Maternitat i Sant Ramon                      10
la Nova Esquerra de l'Eixample                   7
la Prosperitat                                   6
la Sagrada Família                               9
la Sagrera                                       4
la Salut                                        19
la Trinitat Nova                                 4
la Trinitat Vella                                4
la Verneda i la Pau                              3
la Vila Olímpica del Poblenou                    4
la Vila de Gràcia                                6
les Corts                                        9
les Roquetes                                     6
les Tres Torres                                 13
dtype: int64

In [91]:
COUNT.to_csv("Count.csv")

In [101]:
count=pd.read_csv("Count.csv")
count

                        NUM_BARRI   0
0                   Baró de Viver   8
1                        Can Baró   6
2                     Can Peguera   4
3                       Canyelles   4
4                Ciutat Meridiana  14
..                            ...  ..
67  la Vila Olímpica del Poblenou   8
68              la Vila de Gràcia  20
69                      les Corts  24
70                   les Roquetes  12
71                les Tres Torres  10

[72 rows x 2 columns]

In [107]:
count2=count.rename(columns={"NUM_BARRI":"Nbh","0":"Children_places"})

In [109]:
count2.columns

Index(['Nbh', 'Children_places'], dtype='object')

In [110]:
count2.to_csv("../datasets/Data_filtered/Children_places.csv")

## Now we do the same with all the data sets

In [ ]:
#we already imported them before
cinema
education
educationkids
hospital
library  #there are empty values here 
bars
park #empty values here too
sport

In [119]:
#checking if the value exists for all of them, it does
#sport["NUM_BARRI"]

In [13]:
#step2: frequency table

cinema=cinema.groupby("NUM_BARRI").size()

education=education.groupby("NUM_BARRI").size()

educationkids=educationkids.groupby("NUM_BARRI").size()

hospital=hospital.groupby("NUM_BARRI").size()

library=library.groupby("NUM_BARRI").size()

bars=bars.groupby("NUM_BARRI").size()

park=park.groupby("NUM_BARRI").size()

sport=sport.groupby("NUM_BARRI").size()

In [12]:
education

NUM_BARRI
Baró de Viver                                    5
Can Baró                                         4
Canyelles                                        3
Ciutat Meridiana                                 7
Diagonal Mar i el Front Marítim del Poblenou     7
                                                ..
la Vila Olímpica del Poblenou                    8
la Vila de Gràcia                               35
les Corts                                       35
les Roquetes                                     7
les Tres Torres                                  3
Length: 71, dtype: int64

In [122]:
#step3: saving the files as .csv

cinema.to_csv("../datasets/Data_filtered/cinema.csv")

education.to_csv("../datasets/Data_filtered/education.csv")

educationkids.to_csv("../datasets/Data_filtered/educationkids.csv")

hospital.to_csv("../datasets/Data_filtered/hospital.csv")

library.to_csv("../datasets/Data_filtered/library.csv")

bars.to_csv("../datasets/Data_filtered/bars.csv")

park.to_csv("../datasets/Data_filtered/park.csv")

sport.to_csv("../datasets/Data_filtered/sport.csv")

In [123]:
#importing them again

cinema=pd.read_csv("../datasets/Data_filtered/cinema.csv")

education=pd.read_csv("../datasets/Data_filtered/education.csv")

educationkids=pd.read_csv("../datasets/Data_filtered/educationkids.csv")

hospital=pd.read_csv("../datasets/Data_filtered/hospital.csv")

library=pd.read_csv("../datasets/Data_filtered/library.csv")

bars=pd.read_csv("../datasets/Data_filtered/bars.csv")

park=pd.read_csv("../datasets/Data_filtered/park.csv")

sport=pd.read_csv("../datasets/Data_filtered/sport.csv")

In [124]:
#renaming the columns

cinema=cinema.rename(columns={"NUM_BARRI":"Nbh","0":"Cinemas_Theatres"})

education=count.rename(columns={"NUM_BARRI":"Nbh","0":"Schools"})

educationkids=count.rename(columns={"NUM_BARRI":"Nbh","0":"Pre-Schools"})

hospital=count.rename(columns={"NUM_BARRI":"Nbh","0":"Hospitals"})

library=count.rename(columns={"NUM_BARRI":"Nbh","0":"Libraries_Theatres"})

bars=count.rename(columns={"NUM_BARRI":"Nbh","0":"Bars"})

park=count.rename(columns={"NUM_BARRI":"Nbh","0":"Park_Gardens"})

sport=count.rename(columns={"NUM_BARRI":"Nbh","0":"Sport_Centers"})

In [125]:
#saving the files again

cinema.to_csv("../datasets/Data_filtered/cinema.csv")

education.to_csv("../datasets/Data_filtered/education.csv")

educationkids.to_csv("../datasets/Data_filtered/educationkids.csv")

hospital.to_csv("../datasets/Data_filtered/hospital.csv")

library.to_csv("../datasets/Data_filtered/library.csv")

bars.to_csv("../datasets/Data_filtered/bars.csv")

park.to_csv("../datasets/Data_filtered/park.csv")

sport.to_csv("../datasets/Data_filtered/sport.csv")

In [126]:
#Let's filter what's left

population=pd.read_csv("../datasets/unfiltered/2017_densitat.csv")

rental=pd.read_csv("../datasets/unfiltered/2017_lloguer_preu_trim.csv")

tenants=pd.read_csv("../datasets/unfiltered/2017_ocupacio_mitjana_domicilis.csv")

In [127]:
#we want to keep:
#population (Població) and Densitat neta which is the number of habitans per habitable hectares(ha) residental surface
population.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Superfície (ha),Superfície Residencial (ha),Densitat (hab/ha),Densitat neta (hab/ha)
0,2017,1,Ciutat Vella,1,el Raval,47608,109.8,49.7,433,959
1,2017,1,Ciutat Vella,2,el Barri Gòtic,16062,84.2,34.1,191,471
2,2017,1,Ciutat Vella,3,la Barceloneta,14996,131.4,13.5,114,1107
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22721,111.4,32.5,204,700
4,2017,2,Eixample,5,el Fort Pienc,32016,92.9,33.4,345,959

In [135]:
#select what I want

population= population[["Nom_Barri","Població","Densitat neta (hab/ha)"]]

population

,Nom_Barri,Població,Densitat neta (hab/ha)
0,el Raval,47608,959
1,el Barri Gòtic,16062,471
2,la Barceloneta,14996,1107
3,"Sant Pere, Santa Caterina i la Ribera",22721,700
4,el Fort Pienc,32016,959
...,...,...,...
68,Diagonal Mar i el Front Marítim del Poblenou,13629,592
69,el Besòs i el Maresme,23009,885
70,Provençals del Poblenou,20487,1490
71,Sant Martí de Provençals,26146,1116
72,la Verneda i la Pau,28691,716

In [159]:
#rename
population.rename(columns={"Nom_Barri":"Nbh","Població":"Population","Densitat neta (hab/ha)":"Net_density(hab/ha)"})

,Nbh,Population,Net_density(hab/ha)
0,el Raval,47608,959
1,el Barri Gòtic,16062,471
2,la Barceloneta,14996,1107
3,"Sant Pere, Santa Caterina i la Ribera",22721,700
4,el Fort Pienc,32016,959
...,...,...,...
68,Diagonal Mar i el Front Marítim del Poblenou,13629,592
69,el Besòs i el Maresme,23009,885
70,Provençals del Poblenou,20487,1490
71,Sant Martí de Provençals,26146,1116
72,la Verneda i la Pau,28691,716

In [160]:
#safe the file
population.to_csv("../datasets/Data_filtered/population.csv")

In [136]:
rental.head()  #Nom_Barri,Preu

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2017,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),734.99
1,2017,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),905.26
2,2017,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),722.78
3,2017,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),895.28
4,2017,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),871.08

In [137]:
rental= rental[["Nom_Barri","Preu"]]

In [142]:
rental.rename(columns={"Nom_Barri":"Nbh","Preu":"Rental_price(€)/month"})

                                              Nbh  Rental_price(€)/month
0                                        el Raval                 734.99
1                                  el Barri Gòtic                 905.26
2                                  la Barceloneta                 722.78
3           Sant Pere, Santa Caterina i la Ribera                 895.28
4                                   el Fort Pienc                 871.08
..                                            ...                    ...
579  Diagonal Mar i el Front Marítim del Poblenou                  16.51
580                         el Besòs i el Maresme                  10.40
581                       Provençals del Poblenou                  12.66
582                      Sant Martí de Provençals                  10.83
583                           la Verneda i la Pau                  10.38

[584 rows x 2 columns]

In [148]:
#safe the file
rental.to_csv("../datasets/Data_filtered/rental.csv")

In [149]:
tenants.head() #Nom_Barri,Ocupació_mitjana

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Poblacio,Nombre_domicilis,Ocupacio_mitjana
0,2017,1,Ciutat Vella,1,el Raval,47986,17090,2.8
1,2017,1,Ciutat Vella,2,el Barri Gòtic,16240,6537,2.5
2,2017,1,Ciutat Vella,3,la Barceloneta,15101,6911,2.2
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22923,10154,2.3
4,2017,2,Eixample,5,el Fort Pienc,32048,12838,2.5

In [151]:
tenants=tenants[["Nom_Barri","Ocupacio_mitjana"]]

In [155]:
tenants.rename(columns={"Nom_Barri":"Nbh","Ocupacio_mitjana":"Avg_hab_per_house"})

                                             Nbh  Avg_hab_per_house
0                                       el Raval                2.8
1                                 el Barri Gòtic                2.5
2                                 la Barceloneta                2.2
3          Sant Pere, Santa Caterina i la Ribera                2.3
4                                  el Fort Pienc                2.5
..                                           ...                ...
68  Diagonal Mar i el Front Marítim del Poblenou                2.5
69                         el Besòs i el Maresme                2.8
70                       Provençals del Poblenou                2.5
71                      Sant Martí de Provençals                2.5
72                           la Verneda i la Pau                2.5

[73 rows x 2 columns]

In [156]:
tenants.to_csv("../datasets/Data_filtered/tenants.csv")